html,
body,
#root,
.container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #fc466b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3f5efb,
    #fc466b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3f5efb, #fc466b);
}
/* Dont forget to change .container to .App*/

.body-container {
  box-sizing: border-box;
  padding: 10% 5%;
  display: flex;
  width: 100%;
  /* box-shadow: 0 10px 15px 5px rgba(63, 60, 60, 0.452); */
  margin: 0 auto;
  height: 100%;
  flex-direction: row; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.body-main-photo {
  object-fit: cover;
  box-shadow: 0 5px 15px 3px rgba(63, 60, 60, 0.452);
  width: 50%;
  height: 100%;
  margin-right: 2em;
  flex: 1;
  transition: all ease-in 0.3s;
}

.body-main-photo:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 20px 5px rgba(63, 60, 60, 0.652);
}

.body-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.body-area-box {
  flex-basis: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body-area-box h1 {
  line-height: 1em;
}

.small-images img {
  height: 100px;
  width: 75px;
}
.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.social-links i {
  color: white;
  font-size: 3em;
  padding: 15px;
  align-items: center;
  flex-basis: 80%;
  justify-content: space-between;
}
