.Navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1rem;
  color: wheat;
  text-decoration: none;
  background: #fc466b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3f5efb,
    #fc466b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3f5efb,
    #fc466b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-menu {
  flex: 0.5;
  width: 50%;
  height: 100%;
  text-decoration: none;
}

.nav-item {
  padding: 1em 0;
  display: inline-block;
  width: 25%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(250, 235, 215, 0.651);
  transition: all ease-in 0.3s;
  text-decoration: none;
}

.nav-item:hover {
  cursor: pointer;
  background-color: rgb(6, 84, 116);
}
.nav-item::selection {
  cursor: pointer;
  background-color: rgb(80, 76, 72);
}
