.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 5em;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.container > div {
  background-color: rgb(48, 28, 3);
  font-size: 1rem;
  color: wheat;
  padding: 1em;
}
