.navigation {
  position: fixed;
  width: 100%;
  background-color: rgb(28, 28, 28);
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  box-sizing: border-box;
}

.navigation-title {
  place-self: left;
}

.navigation_items {
  display: flex;
  flex-direction: row;
  place-self: center;
}

.navigation-title h1 {
  color: white;
  font-weight: 300;
  font-size: 1em;
  text-align: left;
  padding-left: 15px;
}
.navigation_items a {
  text-decoration: none;
  color: whitesmoke;
  padding: 0.5em;
}

.navigation_items a:hover,
.navigation_items a:active {
  color: red;
}
.navigation-title a:visited {
  color: aliceblue;
}
.navigation-title a:hover,
.navigation-title a:active {
  color: red;
}
@media only screen and (min-width: 1700px) {
  .navigation {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
