/* Navigation Bar */
/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(87, 7, 70);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(245, 182, 231);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(87, 7, 70);
  color: white;
}
.bg-img {
  /* The image used */
  background-image: url("images/computer.jpg");

  min-height: 480px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  margin: 20px;
  width: auto;
}