body {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}
.container {
  width: 100%;
  height: 120vh;
  padding-top: 4em;
  background: #e0eafc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*Footer CSS*/
.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.social-links i {
  color: white;
  font-size: 3em;
  padding: 5px;
  align-items: center;
  flex-basis: 75%;
  justify-content: space-between;
}
.footer-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgb(189, 227, 245);
  font-size: 1rem;
  color: wheat;
}

.footer-list {
  flex: 0.5;
  width: 50%;
  height: 100%;
}
/*Landing Page*/
.body-container {
  box-sizing: border-box;
  padding: 0 5%;
  display: flex;
  width: 100%;
  flex-direction: row;
}
.body-main-photo {
  object-fit: cover;
  box-shadow: 0 5px 15px 3px rgba(63, 60, 60, 0.452);
  width: 50%;
  min-height: 200%;
  margin-right: 2em;
  flex: 1;
  flex-direction: column;
  transition: all ease-in 0.3s;
}

.body-main-photo:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 20px 5px rgba(63, 60, 60, 0.652);
}

.body-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.body-area-box {
  flex-basis: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.small-images img {
  height: 100px;
  width: 75px;
}
.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.social-links i {
  color: white;
  font-size: 3em;
  padding: 15px;
  align-items: center;
  flex-basis: 80%;
  justify-content: space-between;
}
/*Contact CSS*/

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}
.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}
img {
  height: 250px;
}
p {
  width: 75%;
  margin: auto;
  padding-top: 1em;
}
.contact-grid h2 {
  font-family: "Anton", "sans-serif";
}
.contact-grid p {
  font-family: "Oxygen", "sans-serif";
  font-weight: bold;
}
.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}
.contact-list-item {
  font-size: 25px;
  font-family: "Anton";
}
.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}
/*Nav Bar*/
.Navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(189, 227, 245);
  font-size: 1rem;
  color: wheat;
  text-decoration: none;
}

.nav-menu {
  flex: 0.5;
  width: 50%;
  height: 100%;
  text-decoration: none;
}

.nav-item {
  padding: 1em 0;
  display: inline-block;
  width: 25%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(250, 235, 215, 0.651);
  transition: all ease-in 0.3s;
  text-decoration: none;
}

.nav-item:hover {
  cursor: pointer;
  background-color: rgb(6, 84, 116);
}
.nav-item::selection {
  cursor: pointer;
  background-color: rgb(80, 76, 72);
}
